In [3]:
import pandas as pd
df = pd.read_parquet("D:\ALLNEW\project\Sleep_Health_And_Lifestyle\data\clean\cleaned_sleep_data_20250613.parquet")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   person_id                155 non-null    int64
 1   gender                   155 non-null    object
 2   age                      155 non-null    int64
 3   occupation               155 non-null    object
 4   sleep_duration           155 non-null    float64
 5   quality_of_sleep         155 non-null    int64
 6   physical_activity_level  155 non-null    int64
 7   stress_level             155 non-null    int64
 8   bmi_category             155 non-null    object
 9   blood_pressure           155 non-null    object
 10  heart_rate               155 non-null    int64
 11  daily_steps              155 non-null    int64
 12  sleep_disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 15.9+ KB

<>:2: SyntaxWarning: invalid escape sequence '\A'
<>:2: SyntaxWarning: invalid escape sequence '\A'
C:\Users\AnBeos\AppData\Local\Temp\ipykernel_3524\1009991765.py:2: SyntaxWarning: invalid escape sequence '\A'
  df = pd.read_parquet("D:\ALLNEW\project\Sleep_Health_And_Lifestyle\data\clean\cleaned_sleep_data_20250613.parquet")

,person_id,gender,age,occupation,sleep_duration,quality_of_sleep,physical_activity_level,stress_level,bmi_category,blood_pressure,heart_rate,daily_steps,sleep_disorder
0,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
1,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
2,6,Male,28,Software Engineer,5.9,4,30,8,Obese,140/90,85,3000,Insomnia
3,7,Male,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia
4,17,Female,29,Nurse,6.5,5,40,7,Normal Weight,132/87,80,4000,Sleep Apnea